table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th,
td {
  padding: 12px;
  border: 1px solid #ddd;
}

th {
  background: #ef5350;
  color: white;
  text-align: left;
}
.type-badge {
  display: inline-block;
  padding: 4px 8px;
  margin-right: 6px;
  border-radius: 12px;
  background: #333;
  color: white;
  font-size: 12px;
}
input {
  width: 300px;
  padding: 10px;
  margin-bottom: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}